<template>
  <div class="container-warp">
    <el-button id="btn" type="primary" size="default" @click="hanleClick">全屏切换</el-button>
  </div>
</template>

<script>
import fullScreen from '@/utils/fullScreen';

export default {
  name: '',
  data() {
    return {
      screenInstan: null
    };
  },

  computed: {},

  created() {},

  mounted() {},

  methods: {
    hanleClick() {
      fullScreen.setElement('btn');
      fullScreen.onToggle(this.test);
    },

    test() {
      console.log('-------- 111 --------', fullScreen.isFullscreen, fullScreen.isFullscreenFn());
    }
  }
};
</script>

<style lang="scss" scoped>
.container-warp {
  width: 100%;
  height: 100%;
  padding: 20px;
}
</style>
