<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-11-10 11:09:28
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2023-11-10 16:27:25
 * @FilePath: /vue2-classics-case/src/views/Rsa/index.vue
-->
<template>
  <div class="container-warp">
    <el-form :model="form" ref="form" size="mini">
      <el-form-item label="需要加密的内容">
        <el-input type="textarea" :rows="10" v-model="form.text"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">加密</el-button>
        <el-button>取消</el-button>
      </el-form-item>
    </el-form>

    <div class="box">
      <div class="title">加密后的内容</div>
      <div v-if="content" class="container">{{ content }}</div>
      <div v-else class="empty">暂无加密数据</div>
    </div>

    <div class="encrypt" style="margin-top: 20px">
      <div style="margin-bottom: 20px">
        <el-button type="primary" size="mini" @click="handleEncrypt">解密</el-button>
      </div>
      <div class="box">
        <div class="title">解密后的内容</div>
        <div v-if="encrypt" class="container">{{ encrypt }} ----> 长度：{{ encrypt.length }}</div>
        <div v-else class="empty">暂无解密数据</div>
      </div>
    </div>
  </div>
</template>

<script>
import { decryptByPrivateKey, encryptByPublicKey } from '@/utils/rsa';

export default {
  name: '',
  data() {
    return {
      form: {
        text: ''
      },
      content: '',
      encrypt: ''
    };
  },

  computed: {},

  created() {
    let value = '12234y';
    console.log('-------- 44 --------', !isNaN(parseFloat(value)) && isFinite(value));
  },

  mounted() {},

  methods: {
    onSubmit() {
      // this.content = rsaEncrypt(this.form.text);
      this.content = encryptByPublicKey(this.form.text);
    },

    handleEncrypt() {
      if (this.content) {
        // this.encrypt = decrypt(this.content);
        this.encrypt = decryptByPrivateKey(this.content);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.container-warp {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.title {
  height: 40px;
  line-height: 40px;
}

.container {
  padding: 20px;
  border: 1px solid #eee;
  word-wrap: break-word;
  min-height: 200px;
}

.empty {
  padding: 20px;
  border: 1px solid #eee;
  height: 200px;
  line-height: 200px;
  color: #aaa;
  text-align: center;
}
</style>
