<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-10-30 09:01:45
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2023-10-30 10:19:15
 * @FilePath: /vue2-classics-case/src/views/UploadFile2Base64/index.vue
-->
<template>
  <div class="out-container">
    <div class="container-warp">
      <div class="upload-container">
        <label for="upload-inner">点击上传</label>
        <input type="file" name="upload-inner" id="upload-inner" @change="handleUpload" />
      </div>
      <div class="base-64-warp">
        <div class="suff">后缀：{{ suff }}</div>
        <div class="base-64">base64: {{ base64Str }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: '',
  data() {
    return {
      base64Str: '',
      suff: ''
    };
  },

  computed: {},

  created() {},

  mounted() {},

  methods: {
    handleUpload(e) {
      const file = e.target.files[0];
      this.suff = file.name.split('.').pop();
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = event => {
        this.base64Str = event.target.result;
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.out-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: hidden;
  .container-warp {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}

.upload-container {
  font-size: 12px;
  label {
    display: inline-block;
    padding: 6px 16px;
    border: 1px solid #eee;
    border-radius: 4px;
    width: auto;
  }
  input {
    display: none;
  }
}
.base-64-warp {
  font-size: 12px;
  margin-top: 60px;
  border: 1px solid #eee;
  padding: 20px;
  .base-64 {
    word-wrap: break-word;
  }
}
</style>
