<template>
  <div class="container-warp">
    <span style="font-size: 16px; font-weight: 500">form表单的二重数组验证</span>
    <el-form :model="form" ref="form" :rules="rules" label-width="240px" label-position="top" :inline="false" size="normal">
      <div class="pingpu" style="display: flex; justify-content: space-around">
        <el-form-item label="第一层数据1" prop="data1">
          <el-input v-model="form.data1" @input="e => e.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" placeholder="请输入" size="normal"></el-input>
        </el-form-item>
        <el-form-item label="第一层数据2" prop="data2">
          <el-input v-model="form.data2" @input="e => e.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" placeholder="请输入" size="normal"></el-input>
        </el-form-item>
        <el-form-item label="第一层数据3" prop="data3">
          <el-input v-model="form.data3" @input="e => e.replace(/^\D*(\d*(?:\.\d{0,2})?).*$/g, '$1')" placeholder="请输入" size="normal"></el-input>
        </el-form-item>
      </div>
      <el-form-item label="基础信息users -- 一重数组">
        <el-button type="primary" size="small" @click="handleUser">添加一个users</el-button>
        <div class="name-phone">
          <!-- 第一重数组 -->

          <div class="item" v-for="(item, index) in form.users" :key="item.id">
            <span>用户{{ index + 1 }}</span>
            <div class="user-box" style="margin: 10px 0; padding: 20px; border: 1px solid #999">
              <el-form-item :label="'联系人'" label-position="right" :prop="'users[' + index + '].userName'" :rules="rules.userName">
                <el-input v-model="item.userName" size="small" placeholder="请输入联系人" />
              </el-form-item>

              <el-form-item :label="'手机号'" label-position="right" :prop="'users.' + index + '.mobile'" :rules="rules.mobile">
                <el-input v-model="item.mobile" size="small" placeholder="请输入手机号码" />
              </el-form-item>

              <el-button type="primary" size="small" style="margin: 20px 0 10px 0" @click="handleUserOtherInfor(index)">添加用户{{ index + 1 }}其他信息</el-button>

              <!-- 第二重数组 -->
              <div class="other-info" style="border: 1px solid #eee">
                <el-form-item label="其他信息List -- 二重数组" style="margin: 40px">
                  <div class="other-info-container" style="display: flex" v-for="(single, i) in form.users[index].list" :key="i">
                    <el-form-item style="margin-right: 20px" label="其他信息1" size="normal" :prop="'users.' + index + '.list.' + i + '.attr1'" :rules="rules.attr1">
                      <el-input v-model="single.attr1" size="small" placeholder="请输入其他信息1" />
                    </el-form-item>
                    <el-form-item label="其他信息2" size="normal" :prop="'users[' + index + '].list[' + i + '].attr2'" :rules="rules.attr2">
                      <el-input v-model="single.attr2" size="small" placeholder="请输入其他信息2" />
                    </el-form-item>
                  </div>
                </el-form-item>
              </div>
            </div>
          </div>
        </div>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" size="small" @click="onSubmit">立即创建</el-button>
        <el-button size="small">取消</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: '',
  data() {
    return {
      form: {
        data1: '',
        data2: '',
        data3: '',
        users: [
          {
            userName: '',
            mobile: null,
            otherInfn: null,
            list: [{ attr1: null, attr2: null }]
          }
        ],
        otherInfn: null
      },
      rules: {
        data1: [{ required: true, message: '请输入第一层数据1' }],
        data2: [{ required: true, message: '请输入第一层数据2' }],
        data3: [{ required: true, message: '请输入第一层数据3' }],
        userName: [{ required: true, message: '请输入联系人' }],
        mobile: [{ required: true, message: '请输入手机号' }],
        attr1: [{ required: true, message: '请输入其他信息1' }],
        attr2: [{ required: true, message: '请输入其他信息2' }]
      }
    };
  },

  created() {},

  methods: {
    onSubmit() {
      console.log('-------- form --------', this.form);
      this.$refs['form'].validate(valid => {
        if (valid) {
          alert('submit!');
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    handleUser() {
      this.form.users.push({
        userName: '',
        mobile: null,
        otherInfn: null,
        list: [
          { attr1: null, attr2: null },
          { attr1: null, attr2: null }
        ]
      });
    },

    handleUserOtherInfor(index) {
      this.form.users[index].list.push({ attr1: null, attr2: null });
    },
    changeData(e) {
      console.log('-------- e --------', e);
    }
  }
};
</script>

<style scoped>
.container-warp {
  padding: 20px;
}
.el-input {
  max-width: 400px;
}
</style>
