<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-10-26 09:19:33
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2023-10-30 15:38:21
 * @FilePath: /vue2-classics-case/src/views/Home/index.vue
-->
<template>
  <div class="container-warp">home</div>
</template>

<script>
export default {
  name: '',
  data() {
    return {};
  },

  created() {},

  mounted() {},

  methods: {}
};
</script>

<style lang="scss" scoped>
.container-warp {
  width: 100%;
  height: 100%;
}
</style>
