<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-10-26 09:19:33
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2023-11-10 11:17:18
 * @FilePath: /vue2-classics-case/src/App.vue
-->
<template>
  <div id="app">
    <nav class="nav" v-loading="loading">
      <span class="link" :class="activeIndex == index ? 'nav-active' : ''" v-for="(item, index) in navList" :key="item.path" :to="item.path" @click="handleNav(index, item)">
        {{ item.title }}
      </span>
    </nav>
    <div class="router-view">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loading: true,
      activeIndex: 0,
      navList: [
        { name: '', path: '/', title: 'home' },
        { name: '', path: '/form-multiple-validate', title: 'el-form 多重数组校验' },
        { name: '', path: '/form-in-table', title: 'el-table > el-form 校验' },
        { name: '', path: '/base64', title: 'To base64' },
        { name: '', path: '/full-screen', title: '全屏切换' },
        { name: '', path: '/draw-line', title: '绘画两个div的连线' },
        { name: '', path: '/rsa', title: 'RSA' }
      ]
    };
  },
  created() {},
  mounted() {
    this.getActiveIndexByRoute();
  },
  methods: {
    getActiveIndexByRoute() {
      setTimeout(() => {
        this.activeIndex = this.navList.findIndex(item => {
          return item.path == this.$route.path;
        });
        this.loading = false;
      }, 100);
    },
    handleNav(i, { path }) {
      this.activeIndex = i;
      this.$router.push({ path });
    }
  }
};
</script>

<style lang="scss">
#app {
  display: flex;
  width: 100%;
  height: 100%;
  .nav {
    min-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
    justify-content: flex-start;
    overflow-y: auto;
    .link {
      padding: 6px 10px;
      text-decoration: none;
      border-top: 1px solid #eee;
    }
    & .link:last-child {
      border-bottom: 1px solid #eee;
    }
    .nav-active {
      background-color: skyblue;
      color: #fff;
    }
  }

  .router-view {
    flex: 1;
    height: 100%;
    overflow-y: auto;
  }
}
</style>
