<!--
 * @Description: ------------ fileDescription -----------
 * @Author: snows_l snows_l@163.com
 * @Date: 2023-11-09 16:25:12
 * @LastEditors: snows_l snows_l@163.com
 * @LastEditTime: 2023-11-10 12:22:38
 * @FilePath: /vue2-classics-case/src/views/DrawLIne/index.vue
-->
<template>
  <div class="out">
    <div class="btn-container">
      <el-button type="primary" size="mini" @click="drawLineFn">重复画线</el-button>
      <el-button type="primary" size="mini" @click="handleClean">清空</el-button>
    </div>

    <div id="container" class="container-warp">
      <div class="start" id="start"></div>
      <div class="end" id="end"></div>
      <div class="end1" id="end1"></div>
      <div class="end2" id="end2"></div>
    </div>
  </div>
</template>

<script>
import { drawLine, cleanLine } from '@/utils/drawLine.js';
export default {
  name: '',
  data() {
    return {};
  },

  computed: {},

  created() {},

  mounted() {
    this.drawLineFn();
  },

  methods: {
    drawLineFn() {
      this.handleClean();
      drawLine('container', 'start', 'end', '#00A6F9');
      drawLine('container', 'start', 'end1', '#ff0');
      drawLine('container', 'start', 'end2', '#f0f');
    },

    // 清空指定容器的所有线条
    handleClean() {
      cleanLine('l-line');
    }
  }
};
</script>

<style lang="scss" scoped>
.out {
  width: 100%;
  height: 100%;

  .btn-container {
    padding: 20px;
  }
}
.container-warp {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;
  .start {
    position: absolute;
    top: 50px;
    left: 300px;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
  }

  .end {
    position: absolute;
    top: 500px;
    left: 300px;
    width: 10%;
    height: 10%;
    border: 1px solid #ccc;
  }

  .end1 {
    margin-top: 200px;
    width: 10%;
    height: 140px;
    border: 1px solid #ccc;
  }
  .end2 {
    position: absolute;
    top: 190px;
    left: 600px;
    width: 10%;
    height: 10%;
    border: 1px solid #ccc;
  }
}
</style>
